<!DOCTYPE html>
<html>
<head>
  <title>Free NYC concerts, movies, museums & events | Free in the City || NYC</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="keywords" content="NYC, free, concerts, museums, movies, theater, dance, events, performances">
  <meta name="description" content="NYC 2015 free concerts, free museums, free movies, free exhibits and free events.">
  <!--- meta tag for Google site ownership verification -->
  <meta name="google-site-verification" content="n8_RBjxXjhnJWDAD4tuyCS5MGUvWkdCH8aWXTiWtulg" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
<h1>Free in the City || NYC<span> is your guide to the best free events in NYC!</span></h1>
<h2>Free concerts | Free movies | Free theater | Free museums | Free dance | Free exhibits | and more...</h2>
<h4><%= mail_to "freeinthecitynyc@gmail.com", "Contact us", subject: "Free in the City || NYC" %></h4>
</header>

<%= yield %>

</body>
</html>